@*odel PagedList.IPagedList<NienLuan2.Models.HOSO_VUAN>*@
@model NienLuan2.Models.DuongSuModel
@using NienLuan2.Models;
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "ListHS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            DANH SÁCH HỒ SƠ
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal" style="margin-right:20px; ">
                Thêm hồ sơ
            </button>
            @using (Html.BeginForm("ListHS", "HoSoVuAn", FormMethod.Get, new { @class = "pull-right d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" }))
            {
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control" placeholder="Nhập mã hồ sơ cần tìm..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            }
          
        </div>

        <input type="hidden" class="TonTaiMa" value="@ViewBag.Loi" />

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                        @foreach (var group in Model.listHoSoVuAn.GroupBy(x => x.TRANGTHAI_HS.Ten_TT))
                        {
                            <tr class="group-header" data-toggle="collapse">
                                <td colspan="6">
                                    <i class="far fa-plus-square"><span class="h4">&nbsp;&nbsp;@group.Key</span></i>
                                </td>
                            </tr>                    
                    <tr>
                       
                        <th>
                            Mã số hồ sơ
                        </th>
                        <th>
                            Tên vụ án
                        </th>
                        <th width="100">
                            Ngày nhận
                        </th>
                        <th>
                            Nguyên đơn
                        </th>
                        <th>
                            Bị đơn
                        </th>
                        <th>
                            Loại vụ án
                        </th>
                        <th>
                            Trạng thái HS
                        </th>
                        <th>
                            Thẩm phán
                        </th>
                        <th>
                            Thao tác
                        </th>
                        <th></th>
                    </tr>

                    foreach (var item in group)
                    {
                        <tr >                          
                            <td>
                                @Html.DisplayFor(modelItem => item.MA_HoSo)
                                @*@Html.ActionLink(@item.MA_HoSo, "ChiTiet_HS", "HoSoVuAn", null)*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ten_VuAn)
                            </td>
                            <td width="100">
                                @Html.DisplayFor(modelItem => item.NgayNhan_HS)
                            </td>
                            
                                @{
                                    try
                                    {
                                        List<CHITIET_DS> listNguyenDon = Model.listChiTietDuongSu.Where(x => (x.MA_HoSo == item.MA_HoSo) && (x.MA_LoaiDS == "ND")).ToList();
                                        var showlistNguyenDon = "";
                                        for (int i = 0; i < listNguyenDon.Count; i++)
                                        {
                                            showlistNguyenDon += listNguyenDon[i].DUONGSU.HoTen_DS;
                                            if (i != listNguyenDon.Count - 1)
                                            {
                                                showlistNguyenDon += ", ";
                                            }
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => showlistNguyenDon)
                                        </td>
                                    }
                                    catch (Exception)
                                    {
                                    }


                                    try
                                    {
                                        List<CHITIET_DS> listBiDon = Model.listChiTietDuongSu.Where(x => (x.MA_HoSo == item.MA_HoSo) && (x.MA_LoaiDS == "BD")).ToList();
                                        var showlistBiDon = "";
                                        for (int i = 0; i < listBiDon.Count; i++)
                                        {
                                            showlistBiDon += listBiDon[i].DUONGSU.HoTen_DS;
                                            if (i != listBiDon.Count - 1)
                                            {
                                                showlistBiDon += ", ";
                                            }
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => showlistBiDon)
                                        </td>
                                    }
                                    catch (Exception)
                                    {
                                    }
                                }
                            <td>
                                @Html.DisplayFor(modelItem => item.LOAI_VUAN.Ten_LoaiVA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TRANGTHAI_HS.Ten_TT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NHANVIEN.HoTen_NV)
                            </td>
                            <td>
                                <button class="item btn_Sua btn btn-success btn-sm" onclick="GetDetails('@item.MA_HoSo')">

                                    <i class="fas fa-edit"></i>
                                </button>
                                |
                                <a class="item btn_Sua btn btn-danger btn-sm" onclick="return confirm('Bạn chắc chắn muốn xóa?');" href="@Url.Action("xoa_HS1", new { id = item.MA_HoSo })">

                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                                    }
                                }

                </table>
                @Html.PagedListPager((IPagedList)Model.listHoSoVuAn, page => Url.Action( "ListHS", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm hồ sơ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    @using (Html.BeginForm("them_HS", "HoSoVuAn", FormMethod.Post))
                    {
                        <div class="modal-body" style="height:730px">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ngày nhận :</label>
                                    <input type="text" class="form-control" id="NgayNhan_HS" name="NgayNhan_HS" value="@DateTime.Today.ToString("dd/MM/yyyy")" readonly>
                                </div>
                            </div>                      
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên vụ án :</label>
                                    <input type="text" class="form-control" id="Ten_VuAn" name="Ten_VuAn" placeholder="Tên vụ án">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Thẩm phán :</label>
                                    @Html.DropDownList("mnv", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Nguyên đơn: </label>
                                    @Html.DropDownList("nd", (List<SelectListItem>)ViewBag.selectsNguyenDon, new { @class = "form-control", @multiple = "multiple" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Bị đơn: </label>
                                    @Html.DropDownList("bd", (List<SelectListItem>)ViewBag.selectsBiDon, new { @class = "form-control", @multiple = "multiple" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Loại vụ án :</label>
                                    @Html.DropDownList("lva", null, new { @class = "form-control" })
                                </div>
                            </div>      
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nội dung :</label>
                                    <input type="text" class="form-control" id="NoiDung_VA" name="NoiDung_VA" placeholder="Nội dung">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Loại hồ sơ :</label>
                                    <input type="text" class="form-control" id="Loai_HS" name="Loai_HS" placeholder="Loại hồ sơ">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Trang thai ho so :</label>
                                    @Html.DropDownList("tths", null, new { @class = "form-control" })
                                </div>
                            </div>
                            
                            <div class="clearfix"></div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn_them">Thêm</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                        </div>
                    }
                </div>
            </div>      
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Update">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa hồ sơ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:750px">
                <div class="box box-primary">
                    @using (Html.BeginForm("sua_HS1", "HoSoVuAn", FormMethod.Post))
                    {
                        <div class="modal-body" style="height:730px">

                            <input type="text" class="form-control" id="MA_HoSo_Sua" name="MA_HoSo" placeholder="Tên vụ án">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ngày nhận :</label>
                                    <input type="text" class="form-control" id="NgayNhan_HS_Sua" name="NgayNhan_HS" value="@DateTime.Today.ToString("yyyy-MM-dd")" readonly>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên vụ án :</label>
                                    <input type="text" class="form-control" id="Ten_VuAn_Sua" name="Ten_VuAn" placeholder="Tên vụ án">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Thẩm phán :</label>
                                    @Html.DropDownList("mnv", null, new { @class = "form-control", @id = "listNhanVien_Sua" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Nguyên đơn: </label>
                                    @Html.DropDownList("nd", (List<SelectListItem>)ViewBag.selectsNguyenDon, new { @class = "form-control", @multiple = "multiple", @id = "listNguyenDon_Sua" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Bị đơn: </label>
                                    @Html.DropDownList("bd", (List<SelectListItem>)ViewBag.selectsBiDon, new { @class = "form-control", @multiple = "multiple", @id = "listBiDon_Sua" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Loại vụ án :</label>
                                    @Html.DropDownList("lva", null, new { @class = "form-control", @id = "listLoaiVuAn_Sua" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nội dung :</label>
                                    <input type="text" class="form-control" id="NoiDung_VA_Sua" name="NoiDung_VA" placeholder="Nội dung">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Loại hồ sơ :</label>
                                    <input type="text" class="form-control" id="Loai_HS_Sua" name="Loai_HS" placeholder="Loại hồ sơ">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Trang thai ho so :</label>
                                    @Html.DropDownList("tths", null, new { @class = "form-control", @id = "listTrangThaiHoSo_Sua" })
                                </div>
                            </div>

                            <div class="clearfix"></div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script type="text/javascript">
    function GetDetails(id) {
    $.ajax({

        url: "/HoSoVuAn/Edit_HS/" + id,
        typr: "GET",
        contentType: "application/json;charset=UTF-8",
        dataType: "json",
        success: function (response) {
            $('#MA_HoSo_Sua').val(response.MA_HoSo);
            $('#NgayNhan_HS_Sua').val(response.NgayNhan_HS);
            $('#Ten_VuAn_Sua').val(response.Ten_VuAn);
            $('#listNhanVien_Sua').val(response.MA_NhanVien);

            var listSelectedNguyenDon = new Array();  
            $.getJSON('@Url.Action("GetListNguyenDon")', { maHoSo: id }, function (actions) {
                if (actions != null && !jQuery.isEmptyObject(actions)) {
                    $.each(actions, function (index, action) {
                        listSelectedNguyenDon[index] = action.Value;
                        $("#listNguyenDon_Sua option[value='" + listSelectedNguyenDon[index] + "']").prop("selected", true);
                    });
                };
            });
     


            var listSelectedBiDon = new Array();
            $.getJSON('@Url.Action("GetListBiDon")', { maHoSo: id }, function (actions) {
                if (actions != null && !jQuery.isEmptyObject(actions)) {
                    $.each(actions, function (index, action) {
                        listSelectedBiDon[index] = action.Value;
                        $("#listBiDon_Sua option[value='" + listSelectedBiDon[index] + "']").prop("selected", true);
                    });
                };
            });

            $('#listLoaiVuAn_Sua').val(response.MA_LoaiVA);
            $('#NoiDung_VA_Sua').val(response.NoiDung_VA);
            $('#Loai_HS_Sua').val(response.Loai_HS);

            $('#modal-Update').modal('show');



        },
        error: function (response) {

            alert(response.responseText);
        }
    });
    return false;
    }

    //bat loi khoa ngoai khi xoa
    var loi = $(".TonTaiMa").val();
    if (loi === '1')
        alert("Mã hồ sơ này đã tồn tại!!!");


    //bat loi khi them

    $(".btn_them").on('click', function () {
        var maHS = $('#MA_HoSo').val();
        var TenVuAn = $('#Ten_VuAn').val();
        var ndVuAn = $('#NoiDung_VA').val();
        var loaiHS = $('#Loai_HS').val();

        if (maHS === '')
        {
            alert("Mã hồ sơ không được rỗng!!");
            return false;
        }

        if (maHS.length > 5)
        {
            alert("Mã hồ sơ không được lớn hơn 5 ký tự!!");
            return false;
        }

        if (TenVuAn === '') {
            alert("Tên vụ án không được rỗng!!");
            return false;
        }

        if (TenVuAn.length > 50) {
            alert("Tên vụ án không được lớn hơn 50 ký tự!!");
            return false;
        }

        if (ndVuAn === '') {
            alert("Nội dung vụ án không được rỗng!!");
            return false;
        }

        if (ndVuAn.length > 350) {
            alert("Nội dung vụ án không được lớn hơn 350 ký tự!!");
            return false;
        }

        if (loaiHS === '') {
            alert("Loại hồ sơ không được rỗng!!");
            return false;
        }

        if (loaiHS.length > 100) {
            alert("Loại hồ sơ không được lớn hơn 100 ký tự!!");
            return false;
        }
    });

    $(function () {
        $('.group-header').click(function () {
            $(this).nextUntil('.group-header').toggle();
        });
    });

    function addPaging() {
        $('#employeeGrid tr:first').prepend('<th style="width:60px;">S. No.</th>');
        $('#employeeGrid tr:not(:first, .group-header, .group-footer)').each(function (index) {
            $(this).prepend('<td class="text-right">' + (index + 1) + '.</td>');
        });
    }
    </script>
}


