@*@model PagedList.IPagedList<NienLuan2.Models.XETXU>*@
@model NienLuan2.Models.LichXetXuModel
@using PagedList.Mvc;
@using NienLuan2.Models;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "ListXX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>      
            <b>LỊCH XÉT XỬ</b>
            <a style="margin-left: 30px">Từ: </a>
            <input type="date" style="margin-left: 20px" id="tuNgay" />
            <a style="margin-left: 20px">Đến: </a>
            <input type="date" style="margin-left: 20px" id="denNgay" />
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal" style="margin-right:20px; ">
                Thêm lịch xét xử
            </button>
            @using (Html.BeginForm("ListXX", "XetXu", FormMethod.Get, new { @class = "pull-right d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0", id = "formSearch" }))
            {
                <input type="date" style="width: 0; height: 0" name="tuNgay" id="tuNgayHiden" hidden />
                <input type="date" style="width: 0; height: 0" name="denNgay" id="denNgayHiden" hidden />
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control" placeholder="Nhập tên hồ sơ cần tìm..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search btn-search"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <input type="hidden" class="TonTaiMa" value="@ViewBag.Loi" />
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <tr>
                        <th>
                            Số thứ tự
                        </th>
                        <th>
                            Ngày xét xử
                        </th>
                        <th>
                            Tên vụ án
                        </th>
                        <th>
                            Thẩm phán chủ tọa
                        </th>

                        <th>
                            Cấp xét xử
                        </th>
                        <th>
                            Lần xét xử
                        </th>
                        <th>
                            Địa điểm
                        </th>
            
                        <th>
                            Thao tác
                        </th>
                    </tr>
                    @{
                        int count = 1;
                    }
                    @foreach (var item in Model.listXetXu)
                    {

                        <tr>
                            <td>
                                @count
                                @{
                                    count++;
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ngay_XetXu)
                            </td>
                            <td>
                                @Html.ActionLink(@item.HOSO_VUAN.Ten_VuAn.ToString(), "ChiTiet_XX", "XetXu", new { @id = item.MA_XetXu }, new { })
            
                            </td>                      
                            <td>
                                @Html.DisplayFor(modelItem => item.HOSO_VUAN.NHANVIEN.HoTen_NV)
                            </td>                     
                            <td>
                                @Html.DisplayFor(modelItem => item.CAPXETXU.TenCapXetXu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lan_XetXu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIADIEM_XX.Ten_DiaDiem)
                            </td>         
                            <td>
                                <button class="item btn_Sua btn btn-success btn-sm" onclick="CheckChinhSua('@item.MA_XetXu')">
                                    <i class="fas fa-edit"></i>
                                </button>
                                |
                                <a class="item btn_Sua btn btn-danger btn-sm" onclick="CheckXoa('@item.MA_XetXu');" href="">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                                }
                </table>
                @Html.PagedListPager((IPagedList)Model.listXetXu, page => Url.Action("ListXX", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="examplemodal" tabindex="-1" role="dialog" aria-labelledby="examplemodallabel" aria-hidden="true" style="height: 100%;overflow-y: auto;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm lịch xét xử</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    @using (Html.BeginForm("themLXX", "XetXu", FormMethod.Post))
                    {
                        <div class="modal-body" style="height:730px">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Ngày xét xử: </label>
                                    <input type="date" class="form-control" id="Ngay_XetXu" name="Ngay_XetXu" value="@DateTime.Today.ToString("dd/MM/yyyy")" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Lần xét xử: </label>
                                    <input type="number" step="1" min="1" class="form-control" id="Lan_XetXu" name="Lan_XetXu" placeholder="Lần xét xử" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Tên vụ án: </label>
                                    @Html.DropDownList("hs", null, new { @class = "form-control", @required= "required", @id = "listHoSo" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Hội đồng: </label>
                                    @Html.DropDownList("hd", (List<SelectListItem>)ViewBag.selectsHoiDong, new { @class = "form-control", @multiple = "multiple", @id = "listHoiDong" })
                                    <div id="hoiDongError" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Kiểm sát: </label>
                                    @Html.DropDownList("ks", null, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Thư ký: </label>
                                    @Html.DropDownList("tk", null, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Cấp xét xử: </label>
                                    @Html.DropDownList("cxx", null, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Địa điểm :</label>
                                    @Html.DropDownList("dd", null, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
           
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn_them">Thêm</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade"  id="modal-Update" tabindex="-1" role="dialog" aria-labelledby="examplemodallabel" aria-hidden="true" style="height: 100%;overflow-y: auto;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa lịch xét xử</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    @using (Html.BeginForm("Edit_XX1", "XetXu", FormMethod.Post))
                    {
                        <div class="modal-body" style="height:auto">
                            <input type="text" class="form-control" id="MA_XetXu_Sua" name="MA_XetXu" hidden>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Ngày xét xử: </label>
                                    <input type="date" class="form-control" id="Ngay_XetXu_Sua" name="Ngay_XetXu" value="@DateTime.Today.ToString("dd/MM/yyyy")" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Tên vụ án: </label>
                                    @Html.DropDownList("hs", null, new { @class = "form-control", @disable = "disabled", @id = "listHoSoVuAn_Sua", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Lần xét xử: </label>
                                    <input type="text" class="form-control" id="Lan_XetXu_Sua" name="Lan_XetXu" placeholder="Lần xét xử" disabled="disabled">
                                </div>
                            </div>
                       
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Hội đồng: </label>
                                    @Html.DropDownList("hd", (List<SelectListItem>)ViewBag.selectsHoiDong, new { @class = "form-control", @multiple = "multiple", @required = "required", @id = "listHoiDong_Sua" })
                                    <div id="hoiDongError_Sua" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Kiểm sát: </label>
                                    @Html.DropDownList("ks", null, new { @class = "form-control", @required = "required", @id = "listKiemSat_Sua" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Thư ký: </label>
                                    @Html.DropDownList("tk", null, new { @class = "form-control", @required = "required", @id = "listThuKy_Sua" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Cấp xét xử: </label>
                                    @Html.DropDownList("cxx", null, new { @class = "form-control", @required = "required", @disable = "disabled", @id = "listCapXetXu_Sua" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Địa điểm :</label>
                                    @Html.DropDownList("dd", null, new { @class = "form-control", @required = "required", @id = "listDiaDiem_Sua" })
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn_Sua">Lưu</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
<script src="~/Content/Chosen/chosen.jquery.min.js"></script>
<link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
<script type="text/javascript">

    function CheckChinhSua(id) {
        $.ajax({
            url: "/XetXu/CheckChinhSua/" + id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                if (response == "true") {
                    GetDetails(id);
                }
                else
                    return alert('Vụ án đã được xét xử, không thể chỉnh sửa!')
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    };

     function GetDetails(id) {
        $.ajax({
            url: "/XetXu/Edit_XX/" + id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                $('#MA_XetXu_Sua').val(response.MA_XetXu);
                $('#listHoSoVuAn_Sua').val(response.MA_HoSo);
                $('#Lan_XetXu_Sua').val(response.Lan_XetXu);
 
                var listSelectedHoiDong = new Array();
                $("#listHoiDong_Sua option:selected").prop("selected", false);
                $.getJSON('@Url.Action("GetListHoiDong")', { maXetXu: id }, function (actions) {
                    if (actions != null && !jQuery.isEmptyObject(actions)) {
                        $.each(actions, function (index, action) {
                            listSelectedHoiDong[index] = action.Value;
                            $("#listHoiDong_Sua option[value='" + listSelectedHoiDong[index] + "']").prop("selected", true);
                            $('#listHoiDong_Sua').trigger('chosen:updated');
                        });
                    };
                });

                $("#listDiaDiem_Sua option[value='" + response.MA_DiaDiem + "']").prop("selected", true);
                $("#listCapXetXu_Sua option[value='" + response.MA_CapXetXu + "']").prop("selected", true);
                $.getJSON('@Url.Action("GetKiemSat")', { maXetXu: id }, function (actions) {
                    if (actions != null && !jQuery.isEmptyObject(actions)) {
                        $("#listKiemSat_Sua option[value='" + actions + "']").prop("selected", true);

 
                    };
                });

                $.getJSON('@Url.Action("GetThuKy")', { maXetXu: id }, function (actions) {
                    if (actions != null && !jQuery.isEmptyObject(actions)) {
                        $("#listThuKy_Sua option[value='" + actions + "']").prop("selected", true);

                    };
                });
                   
                $.getJSON('@Url.Action("GetNgayNhanHoSo")', { maHoSo: response.MA_HoSo }, function (actions) {
                    if (actions != null && !jQuery.isEmptyObject(actions)) {
                        var dateMin = new Date(parseInt((actions).match(/\d+/)[0]));
                        document.getElementById("Ngay_XetXu_Sua").min = DateConverterCongMot(dateMin);
                    };
                });

                var dateValue = new Date(parseInt((response.Ngay_XetXu).match(/\d+/)[0]));
                $("#Ngay_XetXu_Sua").val(DateConverter(dateValue));
                document.getElementById('hoiDongError_Sua').innerHTML = "";
                $('#modal-Update').modal('show');



            },
            error: function (response) {

                alert(response.responseText);
            }
        });
        return false;
    };

    function CheckXoa(id) {
        $.ajax({
            url: "/XetXu/CheckXoa/" + id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                if (response == "true") {
                    var result = confirm("Bạn chắc chắn muốn xóa?");
                    if (result) {
                        Xoa(id);
                        location.reload();
                    }
                }
                else
                    return alert('Vụ án đã có kết quả xét xử, không thể xóa!')
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    };

    function Xoa(id) {
        $.ajax({
            url: "/XetXu/xoaLXX1/" + id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {

            },
            error: function (response) {

            }
        });
    };

    $(function () {
        $("#listHoiDong").chosen({
            placeholder_text: "Chọn hội đồng ...",
            no_results_text: "Không tìm thấy",
            width: '100%'
        });
        $("#listHoiDong_Sua").chosen({
            placeholder_text: "Chọn hội đồng ...",
            no_results_text: "Không tìm thấy",
            width: '100%'
        });
    });

    $('#listHoSo').change(function () {
        var selectedHoSo = $("#listHoSo").val();
        if (selectedHoSo != null && selectedHoSo != '') {
            $.getJSON('@Url.Action("GetNgayNhanHoSo")', { maHoSo: selectedHoSo }, function (actions) {
                if (actions != null && !jQuery.isEmptyObject(actions)) {             
                    var date = new Date(parseInt((actions).match(/\d+/)[0]));
                    //$("#Ngay_XetXu").min = DateConverter(date);
                    document.getElementById("Ngay_XetXu").min = DateConverterCongMot(date)
                    $("#Ngay_XetXu").val(DateConverterCongMot(date));
                };
            });
        }
    });
 
    function DateConverter(date) {
        return date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).substr(-2, 2) + '-' + ('0' + date.getDate()).substr(-2, 2);
    }

    function DateConverterCongMot(date) {
        //var displayDate = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate();
        var soNgay = date.getDate() + 1;
        return date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).substr(-2, 2) + '-' + ('0' + soNgay).substr(-2, 2);
    }

    $.getJSON('@Url.Action("GetNgayNhanHoSo")', { maHoSo: $("#listHoSo").val() }, function (actions) {
        if (actions != null && !jQuery.isEmptyObject(actions)) {
            var date = new Date(parseInt((actions).match(/\d+/)[0]));
            //$("#Ngay_XetXu").min = DateConverter(date);
            document.getElementById("Ngay_XetXu").min = DateConverterCongMot(date);
            $("#Ngay_XetXu").val(DateConverterCongMot(date));
        };
    });

    $(".btn_them").on('click', function () {
        document.getElementById('hoiDongError').innerHTML = "";
        if ($('#listHoiDong').val() == "" || $('#listHoiDong').val() == null) {
            document.getElementById('hoiDongError').innerHTML = "Vui lòng chọn hội đồng";
            return false;
        }

    });
    $(".btn_Sua").on('click', function () {
        document.getElementById('hoiDongError_Sua').innerHTML = "";
        if ($('#listHoiDong_Sua').val() == "" || $('#listHoiDong_Sua').val() == null) {
            document.getElementById('hoiDongError_Sua').innerHTML = "Vui lòng chọn hội đồng";
            return false;
        }
       
    });
    $(".pull-right").on('click', function () {
        document.getElementById('hoiDongError').innerHTML = "";
        return true;
    });
  
    $.getJSON('@Url.Action("GetTuNgay")', null, function (result) {
        if (result != null && !jQuery.isEmptyObject(result)) {
            var minTuNgay = new Date(parseInt((result).match(/\d+/)[0]));
            var maxDenNgay = new Date();
            var tuNgay = new Date(parseInt((@Html.Raw(Json.Encode(ViewBag.tuNgay))).match(/\d+/)[0]));
            var denNgay = new Date(parseInt((@Html.Raw(Json.Encode(ViewBag.denNgay))).match(/\d+/)[0]));
            document.getElementById("tuNgay").min = DateConverter(minTuNgay);
            document.getElementById("tuNgay").max = DateConverter(denNgay);
            document.getElementById("denNgay").min = DateConverter(tuNgay);
            document.getElementById("denNgay").max = DateConverter(maxDenNgay);
            $('#tuNgay').val(DateConverter(tuNgay));
            $('#denNgay').val(DateConverter(denNgay));
        };
    });

    $('#tuNgay').change(function () {
        var tuNgay = $("#tuNgay").val();
        var denNgay = $("#denNgay").val();
        $('#tuNgayHiden').val(tuNgay);
        $('#denNgayHiden').val(denNgay);
        document.getElementById('formSearch').submit();

    });

    $('#denNgay').change(function () {
        var tuNgay = $("#tuNgay").val();
        var denNgay = $("#denNgay").val();
        $('#tuNgayHiden').val(tuNgay);
        $('#denNgayHiden').val(denNgay);
        document.getElementById('formSearch').submit();

    });
    $(".btn-search").on('click', function () {
        var tuNgay = $("#tuNgay").val();
        var denNgay = $("#denNgay").val();
        $('#tuNgayHiden').val(tuNgay);
        $('#denNgayHiden').val(denNgay);
        return true;
    });
    </script>
}

