@*@model PagedList.IPagedList<NienLuan2.Models.XETXU>*@
@model NienLuan2.Models.LichXetXuModel
@using PagedList.Mvc;
@using NienLuan2.Models;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "ListXX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            LỊCH XÉT XỬ
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal" style="margin-right:20px; ">
                Thêm lịch xét xử
            </button>
            @using (Html.BeginForm("ListXX", "XetXu", FormMethod.Get, new { @class = "pull-right d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" }))
            {
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control" placeholder="Nhập mã hồ sơ cần tìm..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <input type="hidden" class="TonTaiMa" value="@ViewBag.Loi" />
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <tr>
                        <th>
                            Số thứ tự
                        </th>
                        <th>
                            Ngày xét xử
                        </th>
                        <th>
                            Tên vụ án
                        </th>
                        <th>
                            Tên đương sự
                        </th>
                        <th>
                            Thẩm phán chủ tọa
                        </th>
                        <th>
                            Hội đồng
                        </th>
                        <th>
                            Kiểm sát
                        </th>
                        <th>
                            Thư ký
                        </th>
                        <th>
                            Cấp xét xử
                        </th>
                        <th>
                            Lần xét xử
                        </th>
                        <th>
                            Địa điểm
                        </th>
            
                        <th>
                            Thao tác
                        </th>
                    </tr>
                    @foreach (var item in Model.listXetXu)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MA_XetXu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ngay_XetXu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HOSO_VUAN.Ten_VuAn)
                            </td>
                       @{
                           try
                           {
                               List<CHITIET_DS> listDuongSu = Model.listChiTietDuongSu.Where(x => (x.MA_HoSo == item.MA_HoSo)).ToList();
                               var showListDuongSu = "";
                               for (int i = 0; i < listDuongSu.Count; i++)
                               {
                                   showListDuongSu += listDuongSu[i].DUONGSU.HoTen_DS;
                                   if (i != listDuongSu.Count - 1)
                                   {
                                       showListDuongSu += ", ";
                                   }
                               }
                                    <td>
                                        @Html.DisplayFor(modelItem => showListDuongSu)
                                    </td>
                                }
                                catch (Exception)
                                {
                                    <td></td>
                                }
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.HOSO_VUAN.NHANVIEN.HoTen_NV)
                            </td>
                            @{
                                try
                                {
                                    List<CHITIET_XX> listHoiDong = Model.listChiTietXetXu.Where(x => (x.MA_XetXu == item.MA_XetXu) && (x.MA_VaiTro == "C4")).ToList();
                                    var showListHoiDong = "";
                                    for (int i = 0; i < listHoiDong.Count; i++)
                                    {
                                        showListHoiDong += listHoiDong[i].NHANVIEN.HoTen_NV;
                                        if (i != listHoiDong.Count - 1)
                                        {
                                            showListHoiDong += ", ";
                                        }
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => showListHoiDong)
                                    </td>
                                }
                                catch (Exception)
                                {
                                    <td></td>
                                }
                            }
                            @{
                                try
                                {
                                    var kiemsat = Model.listChiTietXetXu.Where(x => (x.MA_XetXu == item.MA_XetXu) && (x.MA_VaiTro == "C3")).FirstOrDefault();
                                    <td>
                                        @Html.DisplayFor(modelItem => kiemsat.NHANVIEN.HoTen_NV)
                                    </td>
                                }
                                catch (Exception)
                                {
                                    <td></td>
                                }
                                try
                                {
                                    var thuky = Model.listChiTietXetXu.Where(x => (x.MA_XetXu == item.MA_XetXu) && (x.MA_VaiTro == "C1")).FirstOrDefault();
                                    <td>
                                        @Html.DisplayFor(modelItem => thuky.NHANVIEN.HoTen_NV)
                                    </td>
                                }
                                catch (Exception)
                                {
                                    <td></td>
                                }
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.CAPXETXU.TenCapXetXu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lan_XetXu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIADIEM_XX.Ten_DiaDiem)
                            </td>
          
                            <td>
                                <button class="item btn_Sua btn btn-success btn-sm" onclick="GetDetails('@item.MA_XetXu')">

                                    <i class="fas fa-edit"></i>
                                </button>
                                |
                                <a class="item btn_Sua btn btn-danger btn-sm" onclick="return confirm('Bạn chắc chắn muốn xóa?');" href="@Url.Action("xoaLXX1", new { id = item.MA_XetXu })">

                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                                }
                </table>
                @Html.PagedListPager((IPagedList)Model.listXetXu, page => Url.Action("ListXX", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="examplemodal" tabindex="-1" role="dialog" aria-labelledby="examplemodallabel" aria-hidden="true" style="height: 100%;overflow-y: auto;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm lịch xét xử</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    @using (Html.BeginForm("themLXX", "XetXu", FormMethod.Post))
                    {
                        <div class="modal-body" style="height:730px">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Ngày xét xử: </label>
                                    <input type="date" class="form-control" id="Ngay_XetXu" name="Ngay_XetXu" value="@DateTime.Today.ToString("dd/MM/yyyy")" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Lần xét xử: </label>
                                    <input type="text" class="form-control" id="Lan_XetXu" name="Lan_XetXu" placeholder="Lần xét xử" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Tên vụ án: </label>
                                    @Html.DropDownList("hs", null, new { @class = "form-control", @required= "required" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Hội đồng: </label>
                                    @Html.DropDownList("hd", (List<SelectListItem>)ViewBag.selectsHoiDong, new { @class = "form-control", @multiple = "multiple", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Kiểm sát: </label>
                                    @Html.DropDownList("ks", null, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Thư ký: </label>
                                    @Html.DropDownList("tk", null, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Cấp xét xử: </label>
                                    @Html.DropDownList("cxx", null, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleinputemail1">Địa điểm :</label>
                                    @Html.DropDownList("dd", null, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
           
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn_them">Thêm</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

