@model PagedList.IPagedList<NienLuan2.Models.KETQUA_XX>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "ListKQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            <b>KẾT QUẢ XÉT XỬ</b>
            <a style="margin-left: 30px">Từ: </a>
            <input type="date" style="margin-left: 20px" id="tuNgay" />
            <a style="margin-left: 20px">Đến: </a>
            <input type="date" style="margin-left: 20px" id="denNgay" />
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal" style="margin-right:20px; ">
                Thêm kết quả xét xử
            </button>
            @using (Html.BeginForm("ListKQ", "KetQuaXetXu", FormMethod.Get, new { @class = "pull-right d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0", @id = "formSearch" }))
            {
                <input type="date" style="width: 0; height: 0" name="tuNgay" id="tuNgayHiden" hidden />
                <input type="date" style="width: 0; height: 0" name="denNgay" id="denNgayHiden" hidden />
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control" placeholder="Nhập tên vụ án cần tìm..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search btn-search"></i>
                        </button>
                    </div>
                </div>
            }
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên vụ án
                        </th>
                        <th>
                            Lần xét xử
                        </th>
                        <th>
                            Ngày xét xử
                        </th>
                        <th>
                            Kết quả
                        </th>
                        <th>
                            Cập nhật
                        </th>
                        <th></th>
                    </tr>

                    @{
                        int count = 1;
                    }
                    @foreach (var item in Model)
                     {
                        <tr>
                            <td>
                                @count
                                @{
                                    count++;
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XETXU.HOSO_VUAN.Ten_VuAn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XETXU.Lan_XetXu)
                            </td>
                            <td>
    
                                @Html.ActionLink(Convert.ToString(@item.XETXU.Ngay_XetXu).Substring(0, 10), "ChiTiet_XX", "XetXu", new { @id = item.MA_XetXu }, new { })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KetQua_XX1)
                            </td>
                            <td>

                                <button class="item btn_Sua btn btn-success btn-sm" onclick="GetDetails('@item.MA_KetQuaXX')">
                                    <i class="fas fa-edit"></i>
                                </button>
     
                            </td>
                        </tr>
                                    }

                </table>
                @Html.PagedListPager(Model, page => Url.Action("ListKQ", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm kết quả</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    @using (Html.BeginForm("them_KQ", "KetQuaXetXu", FormMethod.Post))
                    {
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleinputemail1">Tên vụ án: </label>
                                @Html.DropDownList("tva", null, new { @class = "form-control", @required = "required", @id = "idVuAn" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleinputemail1">Lần xét xử: </label>
                                @Html.DropDownList("lxx", null, new { @class = "form-control", @required = "required", @id = "idSoLanXetXu" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ngày xét xử :</label>
                                <input type="date" class="form-control" id="idNgayXetXu" name="NgayXetXu" value="@ViewBag.nxx" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Kết quả :</label>

                                <input type="text" class="form-control" id="Ketquaxetxu" name="KetQua_XX1" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn_them">Thêm</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật kết quả</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:auto">
                <div class="box box-primary">
                    @using (Html.BeginForm("sua_KQ1", "KetQuaXetXu", FormMethod.Post))
                    {
                        <input type="text" class="form-control" id="txtMA_KetQuaXX" name="MA_KetQuaXX" placeholder="Mã nhân viên" hidden>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleinputemail1">Tên vụ án: </label>
                                <input type="text" class="form-control" id="idVuAn_capnhat" disabled="disabled">
                  
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleinputemail1">Lần xét xử: </label>
                                <input type="text" class="form-control" id="idSoLanXetXu_capnhat" disabled="disabled">
   
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ngày xét xử :</label>
                                <input type="text" class="form-control" id="idNgayXetXu_capnhat" disabled="disabled">
                               
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Kết quả :</label>
                                <input type="text" class="form-control" id="Ketquaxetxu_capnhat" name="KetQua_XX1" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {

    <script type="text/javascript">
        
        function GetDetails(id) {
            $.ajax({
                url: "/KetQuaXetXu/Edit_KQ/" + id,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    var date = new Date(parseInt((response.Ngay_XetXu).match(/\d+/)[0]));
                    $('#txtMA_KetQuaXX').val(response.MA_KetQuaXX);
                    $('#idVuAn_capnhat').val(response.Ten_VuAn);
                    $('#idSoLanXetXu_capnhat').val(response.Lan_XetXu);
                    $('#idNgayXetXu_capnhat').val(DateConverter(date));
                    $('#Ketquaxetxu_capnhat').val(response.KetQua_XX);
                    $('#modal-Update').modal('show');
                },
                error: function (response) {

                    alert(response.responseText);
                }
            });
            return false;
        }
        function DateConverter(date) {
            //var displayDate = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate();
            return date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).substr(-2, 2) + '-' + ('0' + date.getDate()).substr(-2, 2);

        }
        function dateFormat(d) {
            return ((d.getMonth() + 1) + "").padStart(2, "0")
               + "/" + (d.getDate() + "").padStart(2, "0")
               + "/" + d.getFullYear();
        }


        $('#idVuAn').change(function () {
            var selectedVuAn = $("#idVuAn").val();
            var selectedSoLanXetXu = $('#idSoLanXetXu');
            selectedSoLanXetXu.empty();
            if (selectedVuAn != null && selectedVuAn != '') {
                $.getJSON('@Url.Action("GetSoLanXetXu")', { maHoSo: selectedVuAn }, function (actions) {
                    if (actions != null && !jQuery.isEmptyObject(actions)) {
                        $.each(actions, function (index, action) {
                            selectedSoLanXetXu.append($('<option/>', {
                                value: action.Value,
                                text: action.Text
                            }));
                            if (index == 0) {
                                $('#idSoLanXetXu').val(action.Value);
                                $.getJSON('@Url.Action("GetNgayXetXu")', { maXetXu: action.Value }, function (result) {
                                    var date = new Date(parseInt((result).match(/\d+/)[0]));
                                    $('#idNgayXetXu').val(DateConverter(date));
                                });
                            }
                        });

                    };
                });
            }
        });

        $('#idSoLanXetXu').change(function () {
            var selectedLanXetXu = $("#idSoLanXetXu").val();
            var ngay = $('#idNgayXetXu');
            if (selectedLanXetXu != null && selectedLanXetXu != '') {
                $.getJSON('@Url.Action("GetNgayXetXu")', { maXetXu: selectedLanXetXu }, function (result) {
                    var date = new Date(parseInt((result).match(/\d+/)[0]));
                    $('#idNgayXetXu').val(DateConverter(date));
                });
            }

        });


        var selectedSoLanXetXu1 = $('#idSoLanXetXu').val();
        $.getJSON('@Url.Action("GetNgayXetXu")', { maXetXu: selectedSoLanXetXu1 }, function (result) {
                    var date = new Date(parseInt((result).match(/\d+/)[0]));
                    $('#idNgayXetXu').val(DateConverter(date));
        });


        $(".btn_them").on('click', function () {
            var selectedLanXetXu = $("#idSoLanXetXu").val();
            if (selectedLanXetXu == "0") {
                alert("Không có vụ án!");
                return false;
            }
            else
                return true;

    
            });
        $.getJSON('@Url.Action("GetTuNgay")', null, function (result) {
            if (result != null && !jQuery.isEmptyObject(result)) {
                var minTuNgay = new Date(parseInt((result).match(/\d+/)[0]));
                var maxDenNgay = new Date();
                var tuNgay = new Date(parseInt((@Html.Raw(Json.Encode(ViewBag.tuNgay))).match(/\d+/)[0]));
                var denNgay = new Date(parseInt((@Html.Raw(Json.Encode(ViewBag.denNgay))).match(/\d+/)[0]));
                document.getElementById("tuNgay").min = DateConverter(minTuNgay);
                document.getElementById("tuNgay").max = DateConverter(denNgay);
                document.getElementById("denNgay").min = DateConverter(tuNgay);
                document.getElementById("denNgay").max = DateConverter(maxDenNgay);
                $('#tuNgay').val(DateConverter(tuNgay));
                $('#denNgay').val(DateConverter(denNgay));
            };
        });

        $('#tuNgay').change(function () {
            var tuNgay = $("#tuNgay").val();
            var denNgay = $("#denNgay").val();
            $('#tuNgayHiden').val(tuNgay);
            $('#denNgayHiden').val(denNgay);
            document.getElementById('formSearch').submit();

        });

        $('#denNgay').change(function () {
            var tuNgay = $("#tuNgay").val();
            var denNgay = $("#denNgay").val();
            $('#tuNgayHiden').val(tuNgay);
            $('#denNgayHiden').val(denNgay);
            document.getElementById('formSearch').submit();
        });
        $(".btn-search").on('click', function () {
            var tuNgay = $("#tuNgay").val();
            var denNgay = $("#denNgay").val();
            $('#tuNgayHiden').val(tuNgay);
            $('#denNgayHiden').val(denNgay);
            return true;
        });
    </script>
}


