@model PagedList.IPagedList<NienLuan2.Models.KETQUA_XX>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "ListKQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            KẾT QUẢ XÉT XỬ
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal" style="margin-right:20px; ">
                Thêm kết quả xét xử
            </button>
            @using (Html.BeginForm("ListKQ", "KetQuaXetXu", FormMethod.Get, new { @class = "pull-right d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" }))
            {
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control" placeholder="Nhập tên vụ án cần tìm..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            }
        </div>

        <input type="hidden" class="LoiKhoaNgoai" value="@ViewBag.Loi" />

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên vụ án
                        </th>
                        <th>
                            Lần xét xử
                        </th>
                        <th>
                            Ngày xét xử
                        </th>
                        <th>
                            Kết quả
                        </th>
                        <th>
                            Cập nhật
                        </th>
                        <th></th>
                    </tr>

                    @{
                        int count = 1;
                    }
                    @foreach (var item in Model)
                     {
                        <tr>
                            <td>
                                @count
                                @{
                                    count++;
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XETXU.HOSO_VUAN.Ten_VuAn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XETXU.Lan_XetXu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XETXU.Ngay_XetXu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KetQua_XX)
                            </td>
                            <td>

                                <button class="item btn_Sua btn btn-success btn-sm" onclick="GetDetails('@item.MA_KetQuaXX')">
                                    <i class="fas fa-edit"></i>
                                </button>
     
                            </td>
                        </tr>
                                    }

                </table>
                @Html.PagedListPager(Model, page => Url.Action("ListKQ", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm kết quả</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    @using (Html.BeginForm("them_KQ", "KetQuaXetXu", FormMethod.Post))
                    {
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleinputemail1">Tên vụ án: </label>
                                @Html.DropDownList("tva", null, new { @class = "form-control", @required = "required", @id = "idVuAn" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleinputemail1">Lần xét xử: </label>
                                @Html.DropDownList("lxx", null, new { @class = "form-control", @required = "required", @id = "idSoLanXetXu" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ngày xét xử :</label>
                                <input type="date" class="form-control" id="idNgayXetXu" name="NgayXetXu" value="@ViewBag.nxx" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Kết quả :</label>

                                <input type="text" class="form-control" id="Ketquaxetxu" name="KetQua_XX">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn_them">Thêm</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật kết quả</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:auto">
                <div class="box box-primary">
                    @using (Html.BeginForm("sua_KQ1", "KetQuaXetXu", FormMethod.Post))
                    {
                        <input type="text" class="form-control" id="txtMA_KetQuaXX" name="MA_KetQuaXX" placeholder="Mã nhân viên" hidden>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleinputemail1">Tên vụ án: </label>
                                <input type="text" class="form-control" id="idVuAn_capnhat" disabled="disabled">
                  
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleinputemail1">Lần xét xử: </label>
                                <input type="text" class="form-control" id="idSoLanXetXu_capnhat" disabled="disabled">
   
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ngày xét xử :</label>
                                <input type="text" class="form-control" id="idNgayXetXu_capnhat" disabled="disabled">
                               
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Kết quả :</label>
                                <input type="text" class="form-control" id="Ketquaxetxu_capnhat" name="KetQua_XX">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {

    <script type="text/javascript">
        //sua
        function GetDetails(id) {
            $.ajax({
                url: "/KetQuaXetXu/Edit_KQ/" + id,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    $('#txtMA_KetQuaXX').val(response.MA_KetQuaXX);
                    $('#idVuAn_capnhat').val(response.Ten_VuAn);
                    $('#idSoLanXetXu_capnhat').val(response.Lan_XetXu);
                    $('#idNgayXetXu_capnhat').val(response.Ngay_XetXu);
                    $('#Ketquaxetxu_capnhat').val(response.KetQua_XX);
                    $('#modal-Update').modal('show');
                },
                error: function (response) {

                    alert(response.responseText);
                }
            });
            return false;
        }
        function DateConverter(date) {
            //var displayDate = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate();
            return date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).substr(-2, 2) + '-' + ('0' + date.getDate()).substr(-2, 2);

        }
        function dateFormat(d) {
            return ((d.getMonth() + 1) + "").padStart(2, "0")
               + "/" + (d.getDate() + "").padStart(2, "0")
               + "/" + d.getFullYear();
        }
        //bat loi khoa ngoai khi xoa
        var loi = $(".TonTaiMa").val();
        if (loi === '1')
            alert("Mã nhân viên này đã tồn tại!!!");

        //bat loi khi them

        $(".btn_them").on('click', function () {
            var maNV = $('#MA_NhanVien').val();
            var TenNV = $('#HoTen_NV').val();
            var NamSinh = $('#NamSinh_NV').val();
            var QueQuan = $('#QueQuan_NV').val();
            var cmnd = $('#CMND_NV').val();
            var Sdt = $('#SoDienThoai_NV').val();
            var MatKhau = $('#MatKhau').val();

            if (maNV === '') {
                alert("Mã nhân viên không được rỗng!!");
                return false;
            }

            if (maNV.length > 8) {
                alert("Mã nhân viên không được lớn hơn 8 ký tự!!");
                return false;
            }

            if (TenNV === '') {
                alert("Tên nhân viên không được rỗng!!");
                return false;
            }

            if (TenNV.length > 50) {
                alert("Tên nhân viên không được lớn hơn 50 ký tự!!");
                return false;
            }

            if (NamSinh === '') {
                alert("Năm sinh không được rỗng!!");
                return false;
            }

            if (QueQuan === '') {
                alert("Quê quán không được rỗng!!");
                return false;
            }

            if (QueQuan.length > 250) {
                alert("Quê quán không được lớn hơn 250 ký tự!!");
                return false;
            }
            if (cmnd === '') {
                alert("Số CMND không được rỗng!!");
                return false;
            }

            if (cmnd.length > 12) {
                alert("Số CMND không được lớn hơn 12 ký tự!!");
                return false;
            }
            if (Sdt === '') {
                alert("Số điện thoại không được rỗng!!");
                return false;
            }

            if (Sdt.length > 11) {
                alert("Số điện thoại không được lớn hơn 11 ký tự!!");
                return false;
            }
            if (MatKhau === '') {
                alert("Mật khẩu không được rỗng!!");
                return false;
            }

            if (MatKhau.length > 50) {
                alert("Mật khẩu không được lớn hơn 50 ký tự!!");
                return false;
            }
        });



        $('#idVuAn').change(function () {
            var selectedVuAn = $("#idVuAn").val();
            var selectedSoLanXetXu = $('#idSoLanXetXu');
            selectedSoLanXetXu.empty();
            if (selectedVuAn != null && selectedVuAn != '') {
                $.getJSON('@Url.Action("GetSoLanXetXu")', { iso3: selectedVuAn }, function (actions) {
                    if (actions != null && !jQuery.isEmptyObject(actions)) {
                        $.each(actions, function (index, action) {
                            selectedSoLanXetXu.append($('<option/>', {
                                value: action.Value,
                                text: action.Text
                            }));
                        });
                    };
                });
            }
        });

        $('#idSoLanXetXu').change(function () {
            var selectedLanXetXu = $("#idSoLanXetXu").val();
            var ngay = $('#idNgayXetXu');
            if (selectedLanXetXu != null && selectedLanXetXu != '') {
                $.getJSON('@Url.Action("GetNgayXetXu")', { iso3: selectedLanXetXu }, function (result) {
                    $('#idNgayXetXu').val(result);
                  
                });

              

            }
          
        });

      

    </script>
}


