<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<!-- Mirrored from rollthemes.com/demo/html/besmart/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 31 Jul 2015 12:43:58 GMT -->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>TÒA ÁN NHÂN DÂN TỈNH X</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link href="~/Content/Boostrap4/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/colors/color1.css" id="colors">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/chat-popup.css">


    <!-- Bootstrap core CSS-->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="/Content/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/Content/css/jquery-ui.js"></script>*@

</head>

<body>
    <div class="wrap-slide clearfix">
        <div class="top">
            <div class="content-header">
                <div class="one-half">
                    <ul class="contact-info inline pull-left">
                        <li class="phone"><a href="#">012345678</a></li>
                        <li class="email"><a href="#">nhiB1507284@student.ctu.edu.vn</a></li>
                    </ul>
                </div><!-- /.one-half -->
                <div class="one-half">
                    <ul class="contact-info inline pull-right clearfix">
                        @* <li class="terms"><a href="#">Terms of Use</a></li>*@
                        <li class="contact"><a href="#">Liên hệ</a></li>
                        <li class="singin">@Html.ActionLink("Đăng nhập", "DangNhap", "DangNhap")</li>
                        <li class="search"><a href="#"><span class="icon-zoom-outline"></span></a></li>

                    </ul>
                </div><!-- /.one-half -->
            </div><!-- /.content-header -->
        </div><!-- /.top -->
        <!-- Header -->
        <header id="header" class="header">
            <div class="header-wrap">
                <div class="content-header">
                    <div class="wrap-nav">
                        <div class="btn-menu"></div><!-- //mobile menu button -->
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">
                                <li class="active">
                                    <a href="@Url.Action("Index","Home")">Trang chủ</a>

                                </li>
                                <li>
                                    <a>Giới thiệu</a>
                                    <ul class="submenu">
                                        <li><a>Lịch sử hình thành</a></li>
                                        <li><a>Cơ cấu tổ chức</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li>
                                    <a>Tin tức - Sự kiện</a>
                                    <ul class="submenu">
                                        <li><a>Tin hoạt động TAND tỉnh</a></li>
                                        <li><a>Tin hoạt động TAND cấp huyện</a></li>
                                        <li><a>Tin trong nước</a></li>
                                        <li><a>Tin quốc tế</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li>
                                    <a>Xét xử</a>
                                    <ul class="submenu">
                                        <li><a href=@Url.Action("LichXetXu", "NguoiDung")>Lịch xét xử</a></li>
                                        <li><a href=@Url.Action("KetQua", "NguoiDung")>Kết quả</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("MauDon","NguoiDung")">Mẫu đơn</a>
                                    @*<ul class="submenu">
                                        <li><a href="event2.html">Hướng dẫn khởi kiện</a></li>
                                        <li><a href="event2.html">Hướng dẫn kháng cáo</a></li>
                                        <li><a href="event3.html">Hướng dẫn xóa án tích và hoãn chấp hành hình phạt tù</a></li>
                                        <li><a href="event4.html">Hướng dẫn sao lục</a></li>
                                        <li><a href="event4.html">Thời hạn tố tụng</a></li>
                                    </ul>*@<!-- /.submenu -->
                                </li>
                                <li>
                                    <a>Liên hệ</a>
                                </li>
                            </ul><!-- /.menu -->
                        </nav><!-- /.mainnav -->
                    </div><!-- /.wrap-nav -->
                    <div class="wrap-social clearfix">
                        <ul class="besmart-socials">
                            <li><a href="https://www.facebook.com/"><span class="icon-social facebook">F</span></a></li>
                            <li><a href="#"><span class="icon-social">G</span></a></li>
                            <li><a href="#"><span class="icon-social linkedin">I</span></a></li>
                            <li><a href="#"><span class="icon-social pinterest">:</span></a></li>
                        </ul>
                    </div><!-- /.social-wrap -->
                </div><!-- /.content-header -->
            </div><!-- /.header-wrap -->
        </header><!-- /.header -->

        <div class="top-search">
            <div class="content-header">
                <input type="text" class="ts-search" placeholder="Type Keywords Here...">
                <a href="#"><span class="icon-zoom-outline"></span></a>
            </div><!-- /.content-header -->
        </div><!-- /.top-search -->
        <div class="container-fluid">
            <div id="content-wrapper" style="width:100%;">
                @RenderBody()
            </div>
        </div><!-- /.wrap-slider -->
    @*chat popup*@
    <div class="chatbox-holder">
        <div class="chatbox chatbox-min">
            <div class="chatbox-top">
                <div class="chatbox-avatar">
                    <img src="~/Content/images/admin.jpg" />
                </div>
                <div class="chat-partner-name">
                    <p>Bạn cần hỗ trợ?</p>
                </div>
            </div>
            <div class="chat-messages">
                <div class="chat_container">
                    <p class="no_provider">
                        Đặt câu hỏi để được hỗ trợ.
                    </p>
                    <div class="chat_entry">
                        @using (Html.BeginForm("them_HT", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <form name="chat_form" class="chat_form has-validation-callback" id="chat_form" onsubmit="return false;">
                                <p>
                                    <input type="text" data-validation="required" name="HoTen_HT" id="HoTen_HT" class="user_chat" placeholder="Họ & tên">
                                </p>
                                <p>
                                    <input type="text" data-validation="email" name="Email_HT" id="Email_HT" class="email_chat" placeholder="Email của bạn">
                                </p>
                                <p>
                                    <input type="text" data-validation="number" name="SDT_HT" id="SDT_HT" class="number_chat" placeholder="Số điện thoại">
                                </p>
                                <p>
                                    <input type="text" data-validation="number" name="Cau_Hoi" id="Cau_Hoi" class="number_chat" placeholder="Câu hỏi">
                                    <input type="text" data-validation="number" name="MA_TT_HT" id="MA_TT_HT" class="number_chat" value="02" hidden>
                                </p>
                                <p style="text-align:left;">
                                    <input type="submit" class="chat_submit" id="Submit" value="Gửi câu hỏi">
                                </p>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="/Content/vendor/jquery/jquery.min.js"></script>
        <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery.min.js"></script>      
        <script type="text/javascript" src="~/Content/Boostrap4/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery.easing.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery.sticky.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="~/Content/javascript/owl.carousel.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery.bxslider.js"></script>
        <script type="text/javascript" src="~/Content/javascript/imagesloaded.min.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery-countTo.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery.easypiechart.min.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery-waypoints.js"></script>
        <script type="text/javascript" src="~/Content/javascript/parallax.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery.cookie.js"></script>
        <script type="text/javascript" src="~/Content/javascript/switcher.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="~/Content/javascript/gmap3.min.js"></script>
        <script type="text/javascript" src="~/Content/javascript/jquery.tweet.min.js"></script>
        <script type="text/javascript" src="~/Content/javascript/main.js"></script>
        <script type="text/javascript" src="~/Content/javascript/chat-popup.js"></script>


        <!-- Bootstrap core JavaScript-->
        @*<script src="/Content/vendor/jquery/jquery.min.js"></script>
        <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/Content/vendor/chart.js/Chart.min.js"></script>
        <script src="/Content/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <script src="/Content/js/sb-admin.min.js"></script>
        <script src="/Content/js/demo/datatables-demo.js"></script>
        <script src="/Content/js/demo/chart-area-demo.js"></script>
        <script src="~/Content/js/controller/baseController.js"></script>*@


        @RenderSection("Scripts", required: false)
</body>

</html>