@model PagedList.IPagedList<NienLuan2.Models.HOTRO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "ListHT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>  
            <b>HỖ TRỢ</b>
            @using (Html.BeginForm("ListHT", "HoTro", FormMethod.Get, new { @class = "pull-right d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" }))
            {
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control" placeholder="Nhập số điện thoại cần tìm..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <input type="hidden" class="TonTaiMa" value="@ViewBag.Loi" />
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <tr>
                        <th>
                            Số thứ tự
                        </th>
                        <th>
                            Họ tên
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Câu hỏi
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Thao tác
                        </th>
                    </tr>
                   @{
                       int count = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @count
                            @{
                                count++;
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoTen_HT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT_HT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email_HT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cau_Hoi)
                        </td>
                        <td>
                            @{  string tt;
                                tt = item.MA_TT_HT;
                                if (tt == "01")
                                {
                                    <label class="item  btn btn-success btn-sm" name="MA_TT_HT" value="01">Đã phản hồi</label>
                                }
                                else
                                { <label class="item  btn btn-danger btn-sm" name="MA_TT_HT" value="02">Chưa phản hồi</label>}
                            }
                        </td>
                        <td>
                            <button class="item btn_Sua btn btn-success btn-sm" onclick="EditTTHT('@item.MA_HT')">

                                <i class="fas fa-edit"></i>
                            </button>|
                            <a class="item btn_Sua btn btn-danger btn-sm" onclick="return confirm('Bạn chắc chắn muốn xóa?');" href="@Url.Action("xoa_HT1", new { id = item.MA_HT })">


                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                                }
                </table>
                @Html.PagedListPager(Model, page => Url.Action("ListHT", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        
        function EditTTHT(id) {
            $.ajax({
                url: "/HoTro/EditTTHT/" + id,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    if (response == true)
                    location.reload();
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            return false;
        }
</script>
}