
@{
    ViewBag.Title = "chitiet_NV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NienLuan2.Models.NHANVIEN


<div class="card-header">
    <i class="fa fa-vcard"></i>  
    <b>THÔNG TIN NHÂN VIÊN</b>   
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="tab-content">
                <!-- /.tab-pane -->
                <table id="example2" class="table table-border table-hover" border="0">
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Mã số nhân viên:</strong></td>
                        <td><label for="inputName" class="form-control" style="border: 0px;">@Html.DisplayFor(model => model.MA_NhanVien)</label></td>
                    </tr>
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Tên nhân viên:</strong></td>
                        <td><label for="inputName" class="form-control" style="border: 0px;">@Html.DisplayFor(model => model.HoTen_NV)</label></td>
                    </tr>
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Giới tính:</strong></td>
                        <td>
                            @{ 
                                bool gt = Model.GioiTinh_NV;
                                if(gt == true)
                                {
                                    <label><input type="checkbox" checked="checked" name="true" value="true" disabled>Nữ</label>
                                    <label><input type="checkbox"  name="false" value="false" disabled>Nam</label>
                                }
                                else
                                {                                  
                                    <label><input type="checkbox" name="false" value="false" disabled>Nữ</label>
                                    <label><input type="checkbox" checked="checked" name="true" value="true" disabled>Nam</label>
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Chức vụ:</strong></td>
                        <td><label for="inputName" class="form-control" style="border: 0px;">@Html.DisplayFor(model => model.CHUCVU.TEN_ChucVu)</label></td>
                    </tr>
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Phòng ban:</strong></td>
                        <td><label for="inputName" class="form-control" style="border: 0px;">@Html.DisplayFor(model => model.PHONGBAN.Ten_PB)</label></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="tab-content">
                <table id="example2" class="table table-border table-hover" border="0">
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Năm sinh:</strong></td>
                        <td><label for="inputName" class="form-control" style="border: 0px;">@Html.DisplayFor(model => model.NamSinh_NV)</label></td>
                    </tr>
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Quê quán:</strong></td>
                        <td><label for="inputName" class="form-control" style="border: 0px;">@Html.DisplayFor(model => model.QueQuan_NV)</label></td>
                    </tr>
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Chứng minh nhân dân:</strong></td>
                        <td><label for="inputName" class="form-control" style="border: 0px;">@Html.DisplayFor(model => model.CMND_NV)</label></td>
                    </tr>
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Số điện thoại:</strong></td>
                        <td><label for="inputName" class="form-control" style="border: 0px;">@Html.DisplayFor(model => model.SoDienThoai_NV)</label></td>
                    </tr>
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Quyền sử dụng:</strong></td>
                        <td><label for="inputName" class="form-control" style="border: 0px;">@Html.DisplayFor(model => model.QUYEN_NSD.Ten_QNSD)</label></td>
                    </tr>
                    <tr>
                        <td><strong for="inputName" style="border: 0px;font-family:'Times New Roman'">Mật khẩu:</strong></td>
                        <td><label for="inputName" class="form-control" style="border: 0px;">@Html.DisplayFor(model => model.MatKhau)</label></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Trở về", "ListNV")
</p>


